body {
  background-color: black;
  text-align: center;
  animation: colorChange 15s infinite;
}

@keyframes colorChange {
  0% {
    background-color: #05bc17;
    color: #d11b03;
  }
  50% {
    background-color: #0000FF;
    color: rgb(3, 200, 3);
  }
  100% {
    background-color: #05bc17;
    color: rgb(199, 4, 4);
  }
}



h1 {
  font-size: 60px;
}

div {
  font-size: 90px;
  padding-top: 100px;
}